
<mz-modal [fixedFooter]="true" [options]="modalOptions">
  <mz-modal-header>
    Create your account
  </mz-modal-header>
  <mz-modal-content>
      <br>
      <mz-input-container class = "row">
        <input mz-input
          [label]="'Stony Brook Email'"
          [validate]="true"
          [dataError]="'Email is not a valid stony brook email'"
          [dataSuccess]="'Email is valid'"
          [class.invalid]="!validEmail"
          [class.invalid]="validEmail"
          [(ngModel)]="email"
          pattern="[a-z0-9._%+-]+@stonybrook.edu$"
          id="email-input"
          placeholder="john.cena@stonybrook.edu"
          type="email">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          [label]="'Create a password'"
          [validate]="true"
          [(ngModel)]="password"
          id="password-input"
          placeholder="Password"
          type="password" 
          required validateEqual="passwordConfirm" reverse="true">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          [label]="'Confirm your password'"
          [validate]="true"
          [(ngModel)]="passwordConfirm"
          id="password-confirm-input"
          placeholder="Password"
          type="password"
          required validateEqual="password">
      </mz-input-container>
  
      <mz-input-container class="col s6 m6">
        <input mz-input
          [label]="'First Name'"
          [validate]="true"
          [(ngModel)]="firstName"
          id="first-name-input"
          placeholder="John">
      </mz-input-container>
      <mz-input-container class="col s6 m6">
        <input mz-input
          [label]="'Last Name'"
          [validate]="true"
          [(ngModel)]="lastName"
          id="last-name-input"
          placeholder="Cena">
      </mz-input-container>

      <div class="switch center-align">
        <label>
          Male <i class = "fa fa-mars"></i>
          <input type="checkbox" [(ngModel)]="gender">
          <span class="lever"></span>
          <i class = "fa fa-venus"></i> Female
        </label>
      </div>
      
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true"  (click)="onRegisterSubmit()">Signup</button>
  </mz-modal-footer>
</mz-modal>
