
<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    Signup
  </mz-modal-header>
  <mz-modal-content>
    <div class = "row">
    <mz-input-container class="col s12">
      <i mz-icon-mdi mz-input-prefix
        [icon]="'mail'">
      </i>
      <input mz-input
        [label]="'Email'"
        [validate]="true"
        [dataError]="'Email is invalid'"
        [dataSuccess]="'Email is valid'"
        id="email-input"
        placeholder="Enter your email"
        type="email">
    </mz-input-container>
    <mz-input-container class="col s6">
      <i mz-icon-mdi mz-input-prefix
        [icon]="'mail'">
      </i>
      <input mz-input
        [label]="'Email'"
        [validate]="true"
        [dataError]="'Email is invalid'"
        [dataSuccess]="'Email is valid'"
        id="email-input"
        placeholder="Enter your email"
        type="email">
    </mz-input-container>
    <mz-input-container class="col s6">
      <i mz-icon-mdi mz-input-prefix
        [icon]="'mail'">
      </i>
      <input mz-input
        [label]="'Email'"
        [validate]="true"
        [dataError]="'Email is invalid'"
        [dataSuccess]="'Email is valid'"
        id="email-input"
        placeholder="Enter your email"
        type="email">
    </mz-input-container>
  </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Disagree</button>
    <button mz-button [flat]="true" mz-modal-close>Agree</button>
  </mz-modal-footer>
</mz-modal>