<nav class="pink" role="navigation">
    <div class="nav-wrapper container">
      <a [routerLink]="['/match']" id="logo-container" class="brand-logo" *ngIf="authenticationService.isLoggedIn()" >PIPER.SBU</a>
      <a [routerLink]="['/welcomeboard']" id="logo-container" class="brand-logo" *ngIf="!authenticationService.isLoggedIn()" >PIPER.SBU</a>
      <ul class="right hide-on-med-and-down">

        <!-- Logged Out-->
        <li><a class="waves-effect waves-light btn"  (click)="openServiceModal(0);" *ngIf="!authenticationService.isLoggedIn()" >Signup</a></li>
        <li><a class="waves-effect waves-light btn" (click)="openServiceModal(1);" *ngIf="!authenticationService.isLoggedIn()" >Login</a></li>

        <!-- Logged In-->
        <li><a class="waves-effect waves-light btn" routerLink="profile" *ngIf="authenticationService.isLoggedIn()" >Profile</a></li>
        <li><a class="waves-effect waves-light btn" (click)="logoutUser();" *ngIf="authenticationService.isLoggedIn()" >Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">list</i></a>
    </div>
</nav>
