<nav class="pink" role="navigation">
    <div class="nav-wrapper container">
      <a [routerLink]="['/match']" id="logo-container" class="brand-logo">DTF.SBU</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn"  (click)="openServiceModal(0);">Signup</a></li>
        <li><a class="waves-effect waves-light btn"  (click)="openServiceModal(1);">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">list</i></a>
    </div>
</nav>
