<div class = "container">
  <h1>
    Update Profile
  </h1>

  <div class="row">
    <div class="card">
      <div class="card-image">
        <img src="https://www.sparklabs.com/forum/styles/comboot/theme/images/default_avatar.jpg">
      </div>
    </div>
  </div>

  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input id= "photo" type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>


  <button mz-button (click)="onUpdateSubmit()">Update</button>

</div>